
@{
    ViewData["Title"] = "Galeri";
}

<h2>@ViewData["Title"]</h2>
<div>
    <img src="~/images/asd1.jpg" alt="asd1" width="100%" height="600">
    <div style="height:50px; width:100%; background-color:black;"></div>
    <img src="~/images/asd2.jpg" alt="asd2" width="100%" height="600">
    <div style="height:50px; width:100%; background-color:black;"></div>
    <img src="~/images/asd3.jpg" alt="asd3" width="100%" height="600">
    <div style="height:50px; width:100%; background-color:black;"></div>
    <img src="~/images/asd4.jpg" alt="asd4" width="100%" height="600">
    <div style="height:50px; width:100%; background-color:black;"></div>
    <img src="~/images/asd5.jpg" alt="asd5" width="100%" height="600">
</div>