
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/GirisSheet.css" rel="stylesheet" />

<form action="/action_page.php">
    <div class="imgcontainer" style="width:30%;">
        <img src="~/images/profil.png" alt="Avatar" class="avatar" height="220px">
    </div>

    

    <div class="container">
        <label for="uname"><b>Kullanıcı adı</b></label>
        <div>
            <input type="text" placeholder="Kullanıcı adınızı girin" name="uname" required style="width:85%;">
        </div>
        

        <label for="psw"><b>Şifre</b></label>
        <div>
            <input type="password" placeholder="Şifrenizi girin" name="psw" required style="width:85%;">
        </div>

        <button type="submit" style="width:85%;">Login</button>
        <div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Beni hatırla
            </label>
        </div>
        
    </div>

    <div class="container" style="background-color:#f1f1f1; width:85%; margin-right:13%;">
        <button type="button" class="cancelbtn">İptal</button>
        <span class="psw"><a href="#">Şifremi unuttum</a></span>
    </div>
</form>