
@{
    Layout = "_Layout";
}


<link href="~/css/UyeOlSheet.css" rel="stylesheet" />

<form action="/action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1>Kaydol</h1>
        <p>Kaydolmak için lütfen aşağıdaki alanları doldurun.</p>
        <hr>

        <label for="email"><b>Kullanıcı adı</b></label>
        <input type="text" placeholder="Kullanıcı adınızı girin" name="email" required>

        <label for="psw"><b>Şifre</b></label>
        <input type="password" placeholder="Şifreyi girin" name="psw" required>

        <label for="psw-repeat"><b>Şifreyi tekrar girin</b></label>
        <input type="password" placeholder="Şifreyi girin" name="psw-repeat" required>

        <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Beni hatırla
        </label>

        <p>Kaydolarak şunları onaylıyorsunuz: <a href="#" style="color:dodgerblue">Gizlilik & Kullanım Koşulları</a>.</p>

        <div class="clearfix">
            <button type="button" class="cancelbtn">İptal</button>
            <button type="submit" class="signupbtn">Kaydol</button>
        </div>
    </div>
</form>