
@{
    ViewData["Title"] = "Üyelik Fırsatları";
    
}
<h2>@ViewData["Title"]</h2>
<h2>Aramıza katıl, hedeflerine odaklan!</h2>
<div>MACFit Bornova uzman yönetim ekibi ve tecrübeli eğitmenleri ile 85 TL’den başlayan fiyatlarla Bornova'da spora ilk adımı atmanı bekliyor! Hijyenik ortamı, sınırsız grup dersleri ve profesyonel ekipmanları ile MACFit Bornova'da eğlenceli ve etkili antrenman yapabilir, fitness hedeflerine bir adım daha yaklaşabilirsin. Seni kulübümüze bekliyoruz, Fit Miyiz?</div>
<div>
    <img src="~/images/Cycling.jpg" alt="Cycling" width="100%" height="600">
</div>